<link rel="stylesheet" href="css/spectre.min.css">
<div class="container my-2">
  <div class="card">
  <div class="card-header">
    <div class="card-title h5">Wild test</div>
  </div>
  <div class="card-body">
    Add a container element with the card class. And add child elements with the card-image, card-header, card-body and/or card-footer classes. The card-image can be placed in any position.
  </div>
  <div class="card-footer">
    <a href="#start" class="btn btn-primary change-page">Change page</a>
  </div>
  </div>
</div>